<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Regist New Post Complete !!</title>
  <%- include("../../_share/stylesheets.ejs") %>  
</head>
<body>
  <%- include("../../_share/navbar.ejs") %>
  <div class="container">
    <div class="page-header">
      <h1>新規記事登録</h1>
    </div>
    <div class="alert alert-success">
      <i class="fa fa-check fa-fw"></i>
      登録完了しました。
    </div>
  </div>  
</body>
</html>