<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Account Home Page</title>
  <%- include("../_share/stylesheets.ejs") %>
</head>
<body>
    <%- include("../_share/navbar.ejs") %>
    <div class="container">
      <div class="page-header">
        <h1><i class="fa fa-bars fa-fw"></i> メニュー</h1>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">ホーム</a></li>
        <li><a href="/account/post/regist">新規記事登録</a></li>
        <li><a href="#">既存記事の編集/削除</a></li>
      </ul>
    </div>
</body>
</html>