<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <%- include("./_share/stylesheets.ejs") %>
</head>
<body>
  <%- include("./_share/navbar.ejs") %>
  <div class="container">
    <div class="page-header">
      <h1>ようこそ Node.js + Expressの世界へ</h1>
    </div>
    <p></p>
  </div>
</body>
</html>